{
  "overrides": [
    {
      "files": [
        ".babelrc",
        ".eslintrc",
        ".prettierrc",
        ".stylelintrc",
        "*.code-workspace"
      ],
      "options": {
        "parser": "json",
        "bracketSpacing": false
      }
    }
  ],
  "singleQuote": true,
  "trailingComma": "es5"
}
