.right-align {
  text-align: right;
}

.underline {
  text-decoration: underline;
}

.shipping-choices {
  display: flex !important;
  flex-direction: row !important;

  justify-content: space-between;
}
