.search-container {
  text-align: center;
}

.searchbar-container {
  background-color: #ececec;

  border: none;
  border-radius: 22px;
  box-shadow: none;
  outline: none;
  opacity: 1;
  transition: 350ms;

  width: 50%;
  min-width: 400px;
  max-width: 95%;
  height: 46px;

  cursor: text;
  display: inline-block;
  font: 18px arial, sans-serif;

  text-align: left;
}

.searchbar-container:hover {
  background-color: #d2d2d2;
}

.searchbar {
  background: transparent;
  border: none;
  box-sizing: border-box;
  margin: 0;
  outline: none;

  position: relative;
  top: 13px;
  bottom: 0;

  width: 85%;
  padding: 0 18px;
}

.search-button {
  float: right;
}
